/*.nav {
  height:100px;
  background-color: blue;
}*/

.section-carousel {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  background-color: #1a1b1b;
  color: #fff;
  /*padding: 12% 0 8%;*/
}
