/*.nav {
  height:100px;
  background-color: blue;
}*/

.section-carousel {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  background-color: #1a1b1b;
  color: #fff;
  /*padding: 12% 0 8%;*/
}

.testimonial-block {
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
}

.testimonial-block-text {
  text-align: center;
}

.company-writeup {
  margin: 0px;
  padding-top: 5px;
}

.company-testimonial-border {
  padding-top: 50px;
}
